<!DOCTYPE html>
<html>
<head>
  <title>Simple Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    h1 {
      color: #333;
      margin-top: 150px;
      font-size: 32px;
      transition: color 0.3s;
      cursor: pointer;
    }

    h1:hover {
      color: #e74c3c;
    }
  </style>
</head>
<body>
<h1 id="title">Do it for fun!!</h1>
<app-production-order-list></app-production-order-list>
<script>
  const title = document.getElementById('title');
  title.addEventListener('click', () => {
    alert('You clicked the title!');
  });
</script>
</body>
</html>
